<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= eachdbEntry.name%></title>
    <link rel="stylesheet" href="style/style.css">
</head>

<body>
    <h1>name <%= eachdbEntry.name%></h1>
    <ul>
        <li>Message: <%=eachdbEntry.message %></li>
    </ul>
    <form action="/dbContents/<%=eachdbEntry._id%>?_method=DELETE" method="post">
        <button>Delete</button>
    </form>
    <a href="/dbContents/<%=eachdbEntry._id%>/edit"><input type="button" value="edit"></a>
    <a href="/dbContents"><input type="button" value="Abort- back to db"></a>
</body>
</html>